<header>
	<nav>
		<section>
			<a id="logo" href="">Lista da Cidade</a>
			<a class="menu-item" href="">Seja um franqueado</a>
			<a class="menu-item" href="">Trabalhe conosco</a>
			<a class="menu-item" href="">Área do anunciante</a>
			<a class="menu-item" href="">Quem somos</a>
			<a class="menu-item" href="">Contato</a>
			<a class="menu-item" href="">Lista na mídia</a>
			<a id="facebook" href="">Facebook</a>
			<a id="twitter" href="">Twitter</a>
			<a id="instagram" href="">Instagram</a>
			<a id="login" href="">login</a>
		</section>
	</nav>
	<section>
		<div id="app">
			<a id="gplay" href="">Google Play</a>
			<a id="appstore" href="">App Store</a>
		</div>
		<h1 id="logo-head">Lista da Cidade</h1>
		<div id="busca-cotainer">
			<form>
			  	<input type="text" name="busca" placeholder="O que procura?">
			  	<input type="text" name="cidade" placeholder="Em que cidade?">
			  	<button>buscar</button>
			</form>
			<a id="anuncie">Anuncie de graça</a>
		</div>
		<summary>Com uma simples busca, encontre os serviços e produtos que deseja, no instante em que precisa.</summary>
		<div id="banner-top">Banner</div>

	</section>
</header>

<div id="categorias">
	<section>
		<h2>O que você encontra na Lista?</h2>
		<ul>
			<li><a href="">Comer</a></li>
			<li><a href="">Lazer</a></li>
			<li><a href="">Balada</a></li>
			<li><a href="">Moda</a></li>
			<li><a href="">Pet Shop</a></li>
			<li><a href="">Casa</a></li>
			<li><a href="">Veículo</a></li>
			<li><a href="">Compras</a></li>
			<li><a href="">Emergência</a></li>
			<li><a href="">Serviço 24h</a></li>
			<li><a href="">Bem estar</a></li>
			<li><a href="">Saúde</a></li>
		</ul>
		<a href="">Ver todas as categorias</a>
	</section>
</div>

<div id="promocoes">
	<section>
		<h2>Saiba das promoções e cupõns disponíveis</h2>
		<ul>
			<li>
				<a href="">
					<figure>
						<span>Brasília - DF</span>
					</figure>
					<p class="descritivo">Pizza grande + refrigerante de 1L</p>
					<p class="estabelecimento">Pizzaria Domino's</p>
					<p class="valores">Desconto de até 40%</p>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<span>Brasília - DF</span>
					</figure>
					<p class="descritivo">Óculos de sol Ray Ban</p>
					<p class="estabelecimento">Ótica Brasília</p>
					<p class="valores">Desconto de até 20%</p>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<span>Brasília - DF</span>
					</figure>
					<p class="descritivo">Pacote para Orlando + Entrada para parques</p>
					<p class="estabelecimento">Canteletour</p>
					<p class="valores">Por R$2.600,00</p>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<span>Brasília - DF</span>
					</figure>
					<p class="descritivo">Corte de cabelo feminino +  Hidratação</p>
					<p class="estabelecimento">Hair Design</p>
					<p class="valores">Por R$40,00</p>
				</a>
			</li>
		</ul>
		<a href="">Ver todas as promoções</a>
	</section>
</div>

<div id="sobre-nos">
	<section>
		<h2>Conheça a Lista da Cidade e seja um anunciante.</h2>
		<p>A Lista oferece uma excelente oportunidade para divugação do seu negócio, produto ou serviço.</p>
		<p>Através de ferramentas fáceis e abrangentes, melhoramos o posicionamento de sua marca na internet, proporcionando oportunidades de negócio.</p>
		<a href="">Conheça nossos planos</a>
		<div id="video"></div>
	</section>
</div>

<div>
	<section id="papoof">
		<figure class="imagem"></figure>
		<h2>Papoof - classificados</h2>
		<p>Anuncie no melhor classificado gráts do pais. Aproveite essa excelente ferramenta e venda para todo o Brasil.</p>
		<a href="">Anuncie agora!</a>
	</section>
	<section id="franquia">
		<h2>Conheça nossa Franquia</h2>
		<p>Uma excelente oportunidade de conhecer ou adquirir uma franquia da Lista da Cidade.</p>
		<a href="">Saiba mais</a>
	</section>
</div>

<footer>
	<ul id="footer-destaque">
		<li><a hraf="">Promoções</a></li>
		<li><a hraf="">Categorias</a></li>
		<li><a hraf="">Franquia</a></li>
		<li><a hraf="">Anunciante</a></li>
		<li id="newsletter">
			<form>
				<label for="e-mail">Newsletter</label>
			  	<input type="text" name="e-mail" placeholder="informe seu e-mail">
			  	<button>Assinar</button>
			</form>
		</li>
	</ul>
	<ul>
		<li><a hraf="">Type Aracaju</a></li>
		<li><a hraf="">Belo Horizonte</a></li>
		<li><a hraf="">Belém</a></li>
		<li><a hraf="">Boa Vista</a></li>
		<li><a hraf="">Brasília</a></li>
	</ul>
	<ul>
		<li><a hraf="">Cuiabá</a></li>
		<li><a hraf="">Curitiba</a></li>
		<li><a hraf="">Florianípolis</a></li>
		<li><a hraf="">Fortaleza</a></li>
		<li><a hraf="">Goiânia</a></li>
	</ul>
	<ul>
		<li><a hraf="">João Pessoa</a></li>
		<li><a hraf="">Macapá</a></li>
		<li><a hraf="">Manaus</a></li>
		<li><a hraf="">Natal</a></li>
		<li><a hraf="">Palmas</a></li>
	</ul>
	<ul>
		<li><a hraf="">Porto Alegre</a></li>
		<li><a hraf="">Porto Velho</a></li>
		<li><a hraf="">Recife</a></li>
		<li><a hraf="">Rio de Janeiro</a></li>
		<li><a hraf="">São Paulo</a></li>
	</ul>
	<div id="footer-bar">
		<p>© Direitos reservados - Lista da Cidade</p>
	</div>
</footer>